* {
  box-sizing: border-box;
}
.container {
  background: #ffe6ff;

  margin: 30px auto;
  overflow: auto;

  max-width: 600px;
  border-style: double;
  padding: 25px;
}

body {
  background: #3385ff;

}

@media(min-width: 650px) {

  .article-list {
    width: 50%;
    float: left;
    padding-right: 25px;

  }

  .book-list {
    width: 50%;
    float: left;
  }

}
